body {
  margin: 0;
  font-family: 'Martian Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

html{
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

